body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}


.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section {
    text-align: center;
}

.highlight {
    font-weight: bold;
    color: gold;
}

.photo-container {
    position: relative;
    display: inline-block;
}

.photo {
    width: 200px;
    height: auto;
    border-radius: 40%;
    margin: 20px 0;
}

.dynamic-text {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #f39c12;
}

.custom-button {
    background: linear-gradient(to right, #f0f0f0, #d9d9d9); /* Off-white gradient */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px; /* Rounded corners */
    transition: background 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.custom-button:hover {
    background: linear-gradient(to right, #e0e0e0, #c9c9c9); /* Slightly darker gradient for hover effect */
}